
<p>
  <h2>{{Standard}} {{Sign}} {{Type}} {{Year}}</h2>
  <hr style="color:#333333;">
  <h3>xls&html</h3>
  {{#soXls}}
  <p>
    <a title="length:{{length}} content type:{{content_type}}"
       href="../../{{_id}}/{{filename}}" 
       target="_blank"><b>{{filename}}</b>
    </a>
  </p>
  {{/soXls}}
  
  <h3>png</h3>
  {{#soPng}}

    <img 
       title="{{filename}}  length:{{length}} content type:{{content_type}}"
       src="../../{{_id}}/{{filename}}" 
       style="width: 250px; height: 250px;" 
       </img>

  {{/soPng}}
</p>

  
